openapi: 3.0.0
info:
  title: Daily Security Research Fetcher API
  description: >-
    Combined API specification for DailySecurityResearchFetcher.
    Provides three operations used by DailySecurityResearchSummaryAgent:
    1. FetchWebPage — fetches any RSS/Atom feed or HTML page as readable text via Jina.ai Reader
    2. FetchCISAKEV — retrieves the CISA Known Exploited Vulnerabilities catalog
    3. FetchTodaysNVDCVEs — retrieves CVEs published today from NIST NVD
  version: "1.1"
servers:
  - url: https://r.jina.ai

paths:
  # ── Web Page / RSS Feed Direct Fetch (server: https://r.jina.ai) ──────────────────
  /{target_url}:
    get:
      operationId: FetchWebPage
      summary: Fetch any RSS/Atom feed or web page as readable text
      description: |
        Fetches any publicly accessible URL (RSS/Atom feed or HTML page) via Jina.ai Reader
        and returns the content as clean readable text/markdown. Works from server-side without
        API key. Use this as the PRIMARY method to retrieve all RSS feeds and web pages.
        For RSS/Atom feed URLs the response includes article titles, publication dates, links,
        and descriptions in structured text suitable for date-based filtering.
        For HTML pages the response is clean markdown of the main content.
        #ExamplePrompts Fetch the Krebs on Security RSS feed
        #ExamplePrompts Get today's articles from the MSRC blog feed
        #ExamplePrompts Read the Dark Reading website for today's security news
      parameters:
        - in: path
          name: target_url
          required: true
          x-ms-skip-url-encoding: true
          schema:
            type: string
          description: >-
            Full URL to fetch, including scheme (https://).
            Example: https://krebsonsecurity.com/feed/
            Pass the RSS feed URL (url field from config) directly.
      responses:
        "200":
          description: Page or feed content returned as readable text/markdown
          content:
            text/plain:
              schema:
                type: string
                description: >-
                  Readable text of the fetched page or feed. For RSS/Atom feeds, includes
                  article titles, publication dates, links and summaries in structured text.
                  Filter by today's date string (YYYY-MM-DD) to extract today's entries.
