openapi: 3.0.0
info:
  title: CISA Known Exploited Vulnerabilities (KEV) API
  description: >-
    Retrieves the CISA Known Exploited Vulnerabilities (KEV) catalog — a curated list of
    CVEs that have been actively exploited in the wild. Published by the U.S. Cybersecurity
    and Infrastructure Security Agency (CISA). Filter by dateAdded to find today's entries.
  version: "1.0"
servers:
  - url: https://www.cisa.gov/sites/default/files/feeds
paths:
  /known_exploited_vulnerabilities.json:
    get:
      operationId: FetchCISAKEV
      summary: Fetch the full CISA Known Exploited Vulnerabilities catalog
      description: |
        Returns the complete CISA KEV catalog as JSON.
        The response contains all known exploited vulnerabilities with dateAdded, product, vendor,
        CVE description, required action, due date, and ransomware usage flag.
        Filter by dateAdded == today's date (YYYY-MM-DD) to extract newly added entries.
        If no entries were added today, show the most recently added 5 entries as reference.
        #ExamplePrompts Get today's CISA Known Exploited Vulnerabilities
        #ExamplePrompts Fetch the CISA KEV catalog and show entries added today
        #ExamplePrompts List all CVEs added to CISA KEV in the last 7 days
      responses:
        "200":
          description: KEV catalog retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    description: Catalog title (e.g. "CISA Catalog of Known Exploited Vulnerabilities")
                  catalogVersion:
                    type: string
                    description: Version identifier for this catalog snapshot
                  dateReleased:
                    type: string
                    description: ISO 8601 timestamp of when this catalog version was released
                  count:
                    type: integer
                    description: Total number of entries in the catalog
                  vulnerabilities:
                    type: array
                    description: List of known exploited vulnerabilities
                    items:
                      type: object
                      properties:
                        cveID:
                          type: string
                          description: CVE identifier (e.g. "CVE-2024-12345")
                        vendorProject:
                          type: string
                          description: Vendor or project name (e.g. "Microsoft", "Apache")
                        product:
                          type: string
                          description: Affected product name
                        vulnerabilityName:
                          type: string
                          description: Short descriptive name for the vulnerability
                        dateAdded:
                          type: string
                          description: >-
                            Date this CVE was added to the KEV catalog (YYYY-MM-DD format).
                            Filter on this field to identify today's new entries.
                        shortDescription:
                          type: string
                          description: Brief description of the vulnerability
                        requiredAction:
                          type: string
                          description: Action required per CISA directive (e.g. "Apply updates per vendor instructions")
                        dueDate:
                          type: string
                          description: Deadline for federal agencies to remediate (YYYY-MM-DD)
                        knownRansomwareCampaignUse:
                          type: string
                          description: '"Known" if used in ransomware campaigns, "Unknown" otherwise'
                        notes:
                          type: string
                          description: Additional notes or references (may be empty)
