openapi: 3.0.0
info:
  title: Daily Security Research Fetcher API
  description: >-
    Combined API specification for DailySecurityResearchFetcher.
    Provides three operations used by DailySecurityResearchSummaryAgent:
    1. FetchWebPage — fetches any RSS/Atom feed or HTML page as readable text via Jina.ai Reader
    2. FetchCISAKEV — retrieves the CISA Known Exploited Vulnerabilities catalog
    3. FetchTodaysNVDCVEs — retrieves CVEs published today from NIST NVD
  version: "1.1"
servers:
  - url: https://r.jina.ai

paths:
  # ── Web Page / RSS Feed Direct Fetch (server: https://r.jina.ai) ──────────────────
  /{target_url}:
    get:
      operationId: FetchWebPage
      summary: Fetch any RSS/Atom feed or web page as readable text
      description: |
        Fetches any publicly accessible URL (RSS/Atom feed or HTML page) via Jina.ai Reader
        and returns the content as clean readable text/markdown. Works from server-side without
        API key. Use this as the PRIMARY method to retrieve all RSS feeds and web pages.
        For RSS/Atom feed URLs the response includes article titles, publication dates, links,
        and descriptions in structured text suitable for date-based filtering.
        For HTML pages the response is clean markdown of the main content.
        #ExamplePrompts Fetch the Krebs on Security RSS feed
        #ExamplePrompts Get today's articles from the MSRC blog feed
        #ExamplePrompts Read the Dark Reading website for today's security news
      parameters:
        - in: path
          name: target_url
          required: true
          x-ms-skip-url-encoding: true
          schema:
            type: string
          description: >-
            Full URL to fetch, including scheme (https://).
            Example: https://krebsonsecurity.com/feed/
            Pass the RSS feed URL (url field from config) directly.
      responses:
        "200":
          description: Page or feed content returned as readable text/markdown
          content:
            text/plain:
              schema:
                type: string
                description: >-
                  Readable text of the fetched page or feed. For RSS/Atom feeds, includes
                  article titles, publication dates, links and summaries in structured text.
                  Filter by today's date string (YYYY-MM-DD) to extract today's entries.

  # ── CISA KEV (server override: https://www.cisa.gov) ─────────────────────
  /sites/default/files/feeds/known_exploited_vulnerabilities.json:
    get:
      operationId: FetchCISAKEV
      summary: Fetch the full CISA Known Exploited Vulnerabilities catalog
      description: |
        Returns the complete CISA KEV catalog as JSON.
        Filter by dateAdded == today's date (YYYY-MM-DD) to extract newly added entries.
        If no entries were added today, show the most recently added 5 entries as reference.
        #ExamplePrompts Get today's CISA Known Exploited Vulnerabilities
        #ExamplePrompts Fetch the CISA KEV catalog and show entries added today
      servers:
        - url: https://www.cisa.gov
      responses:
        "200":
          description: KEV catalog retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                  catalogVersion:
                    type: string
                  dateReleased:
                    type: string
                  count:
                    type: integer
                  vulnerabilities:
                    type: array
                    items:
                      type: object
                      properties:
                        cveID:
                          type: string
                        vendorProject:
                          type: string
                        product:
                          type: string
                        vulnerabilityName:
                          type: string
                        dateAdded:
                          type: string
                          description: Date added to KEV catalog (YYYY-MM-DD)
                        shortDescription:
                          type: string
                        requiredAction:
                          type: string
                        dueDate:
                          type: string
                        knownRansomwareCampaignUse:
                          type: string
                        notes:
                          type: string

  # ── NIST NVD CVE API 2.0 (server override: https://services.nvd.nist.gov) ─
  /rest/json/cves/2.0:
    get:
      operationId: FetchTodaysNVDCVEs
      summary: Fetch CVEs published today from the NIST NVD
      description: |
        Returns CVE records published within the specified date range from the NVD API 2.0.
        Pass pubStartDate and pubEndDate in ISO 8601 format to filter by today's date.
        pubStartDate example: 2026-05-09T00:00:00.000
        pubEndDate example:   2026-05-09T23:59:59.999
        #ExamplePrompts Get CVEs published today from NIST NVD
        #ExamplePrompts Fetch new CVEs from NIST NVD for today with CVSS scores
      servers:
        - url: https://services.nvd.nist.gov
      parameters:
        - in: query
          name: pubStartDate
          schema:
            type: string
          required: true
          description: >-
            Start of the publication date range (ISO 8601).
            Example: 2026-05-09T00:00:00.000
        - in: query
          name: pubEndDate
          schema:
            type: string
          required: true
          description: >-
            End of the publication date range (ISO 8601).
            Example: 2026-05-09T23:59:59.999
        - in: query
          name: resultsPerPage
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 2000
          required: false
          description: Number of CVE records to return per page (default 50, max 2000)
        - in: query
          name: startIndex
          schema:
            type: integer
            default: 0
          required: false
          description: Zero-based index for pagination
        - in: query
          name: apiKey
          schema:
            type: string
          required: false
          description: >-
            Optional NVD API key for higher rate limits (50 req/30sec vs 5 req/30sec).
            Obtain free at https://nvd.nist.gov/developers/request-an-api-key
      responses:
        "200":
          description: CVE records retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultsPerPage:
                    type: integer
                  startIndex:
                    type: integer
                  totalResults:
                    type: integer
                  format:
                    type: string
                  version:
                    type: string
                  timestamp:
                    type: string
                  vulnerabilities:
                    type: array
                    items:
                      type: object
                      properties:
                        cve:
                          type: object
                          properties:
                            id:
                              type: string
                            published:
                              type: string
                            lastModified:
                              type: string
                            vulnStatus:
                              type: string
                            descriptions:
                              type: array
                              items:
                                type: object
                                properties:
                                  lang:
                                    type: string
                                  value:
                                    type: string
                            metrics:
                              type: object
                              properties:
                                cvssMetricV31:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      cvssData:
                                        type: object
                                        properties:
                                          baseScore:
                                            type: number
                                          baseSeverity:
                                            type: string
                                cvssMetricV40:
                                  type: array
                                  items:
                                    type: object
                            weaknesses:
                              type: array
                              items:
                                type: object
                            references:
                              type: array
                              items:
                                type: object
                                properties:
                                  url:
                                    type: string
                                  source:
                                    type: string
                                  tags:
                                    type: array
                                    items:
                                      type: string
        "403":
          description: Rate limit exceeded. Retry after 30 seconds.
