openapi: 3.0.0
info:
  title: NIST National Vulnerability Database (NVD) CVE API
  description: >-
    Queries the NIST National Vulnerability Database (NVD) CVE API 2.0 to retrieve
    CVE records published within a specified date range. Use pubStartDate and pubEndDate
    to filter by today's date and retrieve newly published CVEs.
  version: "2.0"
servers:
  - url: https://services.nvd.nist.gov/rest/json
paths:
  /cves/2.0:
    get:
      operationId: FetchTodaysNVDCVEs
      summary: Fetch CVEs published today from the NIST NVD
      description: |
        Returns CVE records published within the specified date range from the NVD API 2.0.
        Pass pubStartDate and pubEndDate in ISO 8601 format to filter by today's date:
          pubStartDate: YYYY-MM-DDT00:00:00.000
          pubEndDate:   YYYY-MM-DDT23:59:59.999
        The API returns CVSS scores, descriptions, references, and weakness information.
        Note: Without an API key, the NVD rate limit is 5 requests per 30 seconds.
        This skill is called once per day by the agent, so no rate limiting issues are expected.
        #ExamplePrompts Get CVEs published today from NIST NVD
        #ExamplePrompts Fetch new CVEs from NIST NVD for 2026-05-09
        #ExamplePrompts List all CVEs published by NIST NVD today with CVSS scores
      parameters:
        - in: query
          name: pubStartDate
          schema:
            type: string
          required: true
          description: >-
            Start of the publication date range in ISO 8601 format.
            Example: 2026-05-09T00:00:00.000
            Use today's date at 00:00:00.000 UTC.
        - in: query
          name: pubEndDate
          schema:
            type: string
          required: true
          description: >-
            End of the publication date range in ISO 8601 format.
            Example: 2026-05-09T23:59:59.999
            Use today's date at 23:59:59.999 UTC.
        - in: query
          name: resultsPerPage
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 2000
          required: false
          description: Number of CVE records to return per page (default: 50, max: 2000).
        - in: query
          name: startIndex
          schema:
            type: integer
            default: 0
            minimum: 0
          required: false
          description: Zero-based index for pagination. Use with resultsPerPage for large result sets.
        - in: query
          name: apiKey
          schema:
            type: string
          required: false
          description: >-
            Optional NVD API key to increase rate limits (50 req/30sec vs. 5 req/30sec without key).
            Obtain a free key at https://nvd.nist.gov/developers/request-an-api-key
      responses:
        "200":
          description: CVE records retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultsPerPage:
                    type: integer
                    description: Number of CVE records returned in this response
                  startIndex:
                    type: integer
                    description: Zero-based index of the first result
                  totalResults:
                    type: integer
                    description: Total number of CVEs matching the query (across all pages)
                  format:
                    type: string
                    description: Response format identifier (e.g. "NVD_CVE")
                  version:
                    type: string
                    description: API version (e.g. "2.0")
                  timestamp:
                    type: string
                    description: UTC timestamp when the response was generated
                  vulnerabilities:
                    type: array
                    description: List of CVE records matching the query
                    items:
                      type: object
                      properties:
                        cve:
                          type: object
                          properties:
                            id:
                              type: string
                              description: CVE identifier (e.g. "CVE-2026-12345")
                            sourceIdentifier:
                              type: string
                              description: Source that reported this CVE
                            published:
                              type: string
                              description: ISO 8601 timestamp when this CVE was published to NVD
                            lastModified:
                              type: string
                              description: ISO 8601 timestamp of the last modification
                            vulnStatus:
                              type: string
                              description: >-
                                Current status of the CVE record
                                (e.g. "Analyzed", "Awaiting Analysis", "Modified")
                            descriptions:
                              type: array
                              description: List of descriptions in different languages (use lang="en" entries)
                              items:
                                type: object
                                properties:
                                  lang:
                                    type: string
                                    description: Language code (e.g. "en")
                                  value:
                                    type: string
                                    description: CVE description text
                            metrics:
                              type: object
                              description: CVSS scoring metrics
                              properties:
                                cvssMetricV31:
                                  type: array
                                  description: CVSS v3.1 scores
                                  items:
                                    type: object
                                    properties:
                                      source:
                                        type: string
                                      type:
                                        type: string
                                      cvssData:
                                        type: object
                                        properties:
                                          version:
                                            type: string
                                          vectorString:
                                            type: string
                                          baseScore:
                                            type: number
                                            description: CVSS v3.1 base score (0.0 - 10.0)
                                          baseSeverity:
                                            type: string
                                            description: "Critical / High / Medium / Low / None"
                                cvssMetricV40:
                                  type: array
                                  description: CVSS v4.0 scores (if available)
                                  items:
                                    type: object
                            weaknesses:
                              type: array
                              description: CWE weaknesses associated with this CVE
                              items:
                                type: object
                                properties:
                                  source:
                                    type: string
                                  type:
                                    type: string
                                  description:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        lang:
                                          type: string
                                        value:
                                          type: string
                            configurations:
                              type: array
                              description: Affected product configurations (CPE data)
                              items:
                                type: object
                            references:
                              type: array
                              description: External references (advisories, patches, PoCs)
                              items:
                                type: object
                                properties:
                                  url:
                                    type: string
                                  source:
                                    type: string
                                  tags:
                                    type: array
                                    items:
                                      type: string
        "403":
          description: Rate limit exceeded. Retry after 30 seconds.
          content:
            application/json:
              schema:
                type: object
